@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'n27regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/n27-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'n27bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/n27-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v2-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/plus-jakarta-sans-v2-latin-ext_latin-700.woff2') format('woff2');
}

h1, h2, h3, h4, h5, h6 {
    @apply font-owlFontBold text-owl-dark-blue dark:text-owl-light-beige;
}

.owl-content h2 {
    @apply lg:text-h1lg md:text-h1md sm:text-h1sm;
}

.owl-content h3 {
    @apply lg:text-h3lg md:text-h3md sm:text-h3sm;
}

a {
    @apply transition-all delay-150;
}

.icon svg {
    transform: translate(-50%, -50%);
}

.icon svg rect, .icon svg path {
    @apply transition-all delay-150;
}

.icon:hover svg rect, .icon:hover svg path {
    @apply fill-white;
}

.icon.icon-darkmode svg {
    @apply h-4 w-auto;
}

.links svg {
    @apply h-4 w-auto;
}

.links a {
    @apply block p-4 relative hover:-translate-y-1;
}

#footer ul a {
    @apply relative;
}

#footer ul a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;

    @apply bg-owl-orange transition-all delay-150 duration-100;
}

#footer ul a:hover:before {
    width: 100%;
}

.owl-faq h2 {
    @apply lg:text-h2lg md:text-h2md sm:text-h2sm;
}

.owl-faq h2 span {
    @apply inline bg-gradient-to-r from-owl-green to-owl-light-green text-owl-dark-blue;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: left 85%;
    padding-bottom: 5px;
}

    .dark .owl-faq h2 span {
        @apply inline bg-gradient-to-r from-owl-green to-owl-light-green text-owl-dark-beige;
    }

/* gutenberg blocks */
.wp-block-image img {
	margin: 32px calc(50% - 35vw);
	max-width: 70vw;
	width: 70vw;
}

@media (max-width: 920px) {
	.wp-block-image img {
		margin: 32px 0;
		max-width: 100%;
		width: auto;
	}
}

.owl-faq-image {
    margin: 32px calc(50% - 35vw);
	max-width: 70vw;
	width: 70vw;
}

@media (max-width: 1023px) {
	.wp-block-image img {
		margin: 32px 0;
        max-width: 100%;
        width: auto;
	}
}

.wp-block-quote {
    @apply pl-0 border-0 relative;
}

.wp-block-quote p {
    @apply bg-gradient-to-r from-owl-green to-owl-light-green relative font-owlFontBold not-italic sm:text-h2sm md:text-h2md lg:text-h2lg leading-snug;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.share-text svg {
    @apply h-5 w-auto inline;
}

.share-text svg, .share-text path, .share-text circle {
    @apply fill-white;
}

.share-text span {
    @apply inline-block pr-3;
}

.owl-quote p {
    @apply inline;
}

.owl-quote .tweetme {
    @apply relative -top-4 left-4;
}

.owl-quote svg {
    @apply h-5 w-auto inline;
}

.owl-quote svg path {
    @apply hover:fill-owl-orange transition-all delay-150;
}

    .dark .owl-quote svg path {
        @apply fill-owl-orange hover:fill-owl-light-green;
    }

.owl-content code {
    @apply bg-owl-dark-beige text-owl-dark-blue text-lg;
}

    .dark .owl-content code {
        @apply bg-owl-dark-blue text-owl-dark-beige text-lg;
    }

.owl-content a,
.owl-intro a {
    @apply text-owl-light-green hover:text-owl-orange;
}

.owl-content *:not(.owl-faq):not(li):not(.owl-short-bio *):not(.owl-content-inner) {
    @apply my-8;
}

