{% extends "/layouts/base.twig" %}

{% block main %}
	{% include 'parts/site-name.twig' %}

	<article class="single-entry-wrapper">
		<header class="single-entry-header" role="heading" aria-level="1">
			<h2>WordPressówka #76</h2>
			<time>22 listopada 2020</time>
		</header>
		<div class="single-entry-columns">
			<div class="item entry-content" role="article">

				<div class="wordpressowka-block">
					<div class="wordpressowka-link photobg" role="link">
						<picture role="img">
							<source media="(max-width:640px)"
								srcset="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&h=900&q=80" />
							<source media="(min-width: 641px) and (max-width:1023px)"
								srcset="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1024&h=600&q=80" />
							<img
								src="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&h=800&q=80" alt="" />
						</picture>
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link photo" role="link">
						<picture role="img">
							<source media="(max-width:880px)"
								srcset="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=880&h=450&q=80" />
							<source media="(min-width: 881px) and (max-width:1023px)"
								srcset="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1024&h=900&q=80" />
							<img
								src="https://images.unsplash.com/photo-1549082984-1323b94df9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=208&h=270&q=80" alt="" />
						</picture>
						<div class="inner">
							<h2>Jakiś nagłówek np z datą</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				<div class="wordpressowka-block">
					<div class="wordpressowka-link" role="link">
						<div class="inner">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula.</p>

							<div>
								<a href="" title="" class="link">4 Accessibility Implementations Your Design Agency Should Make to Stop ADA Compliance Lawsuits</a>
							</div>
						</div>
					</div>
				</div>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula. Curabitur molestie dolor ut tellus tristique convallis. Nullam ligula nibh, consequat nec placerat eu, aliquet vel enim. Nunc dictum tincidunt hendrerit. Suspendisse potenti. Praesent sollicitudin, augue quis pretium vehicula, ante enim blandit magna, vitae elementum arcu velit in quam. Aenean non luctus nisi. Nullam rhoncus lacinia nibh, ac venenatis dui vehicula eu. Cras egestas, nibh id rutrum malesuada, ligula tellus dapibus ante, a viverra est dui eu lacus. Aenean vestibulum vulputate tortor in congue. Morbi posuere leo in tempus pretium. Phasellus non semper neque, gravida ultricies lorem.
			</div>

			<aside class="item entry-sidebar" role="form">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula. Curabitur molestie dolor ut tellus tristique convallis. Nullam ligula nibh, consequat nec placerat eu, aliquet vel enim. Nunc dictum tincidunt hendrerit. Suspendisse potenti. Praesent sollicitudin, augue quis pretium vehicula, ante enim blandit magna, vitae elementum arcu velit in quam. Aenean non luctus nisi. Nullam rhoncus lacinia nibh, ac venenatis dui vehicula eu. Cras egestas, nibh id rutrum malesuada, ligula tellus dapibus ante, a viverra est dui eu lacus. Aenean vestibulum vulputate tortor in congue. Morbi posuere leo in tempus pretium. Phasellus non semper neque, gravida ultricies lorem.
			</aside>
		</div>
	</article>

{% endblock %}
