{% extends "/layouts/base.twig" %}

{% block main %}

<section class="home-hero">
	<div class="home-hero-inner">
		<h1>See what is happening in the WordPress space</h1>
		<p>Get the weekly email with all the important news and events from the WordPress world.</p>
		<section class="newsletter">
			<form
				action="{{ options.mailchimp_url }}" method="post" name="mc-embedded-subscribe-form" class="validate">
				{#<label for="newsletter-email">Your email address</label>#}
				<div class="input">
					<input type="email" placeholder="{{ __( 'Twój adres email', 'sasquatch' ) }}" name="EMAIL" required id="newsletter-email">
				</div>
				<input type="submit" value="{{ __( 'Zapisz się teraz!', 'sasquatch' ) }}" class="button color-primary small" name="subscribe">
			</form>
		</section>
		<div class="scroll-down"><a href="#owl-content"></a></div>
	</div>
</section>
<div id="owl-content"></div>
{% include 'views/parts/posts-scroll.twig' with
	{
		extra_class: 'homepage-scroll',
		more: true,
	}
%}

{% include 'views/parts/editors-scroll.twig' with
	{
		more: true,
	}
%}

{% include 'views/parts/articles-scroll.twig' with
	{
		more: true,
	}
%}

{% endblock %}
