{% extends "/layouts/base.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	<header class="single-entry-header" role="heading" aria-level="1">
		<h2>{{ post.title }}</h2>
	</header>
	<div class="single-entry-columns">
		<div class="item entry-content" role="article">
			{{ post.content }}
		</div>

		<aside class="item entry-sidebar" role="form">
			{% include 'views/parts/sidebar.twig' %}
		</aside>
	</div>
</article>

{% endblock %}
