{% extends "/layouts/basetw.twig" %}

{% block main %}

{% include 'parts/archives-headers.twig' %}

<div class="mt-20 mb-20 lg:grid lg:grid-cols-3 lg:gap-10" id="content">
	{% for interview in posts %}
		{% include 'views/parts/interviews-entry.twig' %}
	{% endfor %}
</div>

{% endblock %}
