{% extends "/layouts/basetw.twig" %}

{% block main %}

<div class="md:grid md:grid-cols-2 md:gap-20 items-center mt-20">

	<div class="mb-10 md:mb-0 dark:text-owl-dark-beige">
		<h1 class="owl-page-title lg:text-h1lg md:text-h1md sm:text-h1sm mb-10 text-owl-dark-blue dark:text-owl-dark-beige">
			<span>
				{{ post.title }}
			</span>
		</h1>
		<p class="text-lg mb-10 text-gray-800 dark:text-owl-dark-beige">
			Meet the maintainers and developers whose contributions move the open source world forward every day. Meet the maintainers and developers whose contributions move the open source world forward every day.
		</p>
		<a href="" class="inline-block no-underline relative transition-all delay-150 overflow-hidden">
			<span class="text-lg absolute inset-0 transition-all delay-150 block bg-gradient-to-tr from-owl-light-green via-owl-green to-owl-dark-blue text-white font-owlFontBold rounded-md py-4 px-8 text-center hover:opacity-100 opacity-0">Join our interviews</span>

			<span class="text-lg inline-block bg-gradient-to-tr from-owl-orange to-owl-red text-white font-owlFontBold rounded-md py-4 px-8 text-center transition-all delay-150">Join our interviews</span>
		</a>
	</div>

	<div>
		<div class="picture">
			<picture>
				<source media="(max-width:767px)"
					srcset="https://images.unsplash.com/photo-1492447166138-50c3889fccb1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=650" />

				<source media="(min-width: 768px) and (max-width:1023px)"
					srcset="https://images.unsplash.com/photo-1492447166138-50c3889fccb1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400" />

				<img
					src="https://images.unsplash.com/photo-1492447166138-50c3889fccb1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750"
					alt="">
			</picture>
		</div>
	</div>

</div>

<div class="mt-20 mb-20 lg:grid lg:grid-cols-3 lg:gap-10">
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
	{% include 'views/parts/interviews-entry.twig' %}
</div>

{% endblock %}
