{#
  Title: owl-code
  Description: Code
  Category: formatting
  Icon: admin-comments
  Keywords: link
  Mode: preview
  Align: center
  PostTypes: post articles
  SupportsMode: true
  SupportsMultiple: true
  SupportsAlign: center
#}

<div class="wordpressowka-block m-b-40">
    <div class="wordpressowka-code" role="link">
        <div class="inner">
            <div>
				<pre><code class="language-{{ fields.language }}">{{ fields.code }}</code></pre>
            </div>
        </div>
    </div>
</div>

