{#
  Title: owl-quote
  Description: Quote
  Category: formatting
  Icon: admin-comments
  Keywords: link
  Mode: preview
  Align: center
  PostTypes: interviews
  SupportsMode: true
  SupportsMultiple: true
  SupportsAlign: center
#}
<blockquote class="wp-block-quote owl-quote">
    {{ fields.quote|wpautop }}
    <a href="{{ fields.post_url| tt_share_url( fields.quote ) }}" class="tweetme" target="about:blank">{% include 'views/parts/icons/twitter.twig' with { 'icon_color': 'fill-owl-dark-blue dark:fill-owl-green' } %}</a>
</blockquote>
